@use "../../common-styles/var";
.top-bar {
  display: grid;
  height: var.$top_bar_height;
  .right-side-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: end;
    @for $i from 1 through 2 {
      .part-#{$i} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 10px;
        > div {
          display: grid;
          justify-items: center;
          align-items: center;
          padding: 0 5px;
          a {
            color: #fff;
            text-decoration: none;
            font-size: 0.85rem;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .part-2 {
      div:nth-child(1) {
        display: grid;
        justify-items: center;
        align-items: center;
        border-radius: 100px;
        width: 33px;
        height: 43px;
        justify-self: center;
        .app-links {
          width: 25px;
          path {
            fill: rgba(255, 255, 255, 0.87);
          }
        }
      }
      .app-links-wrapper:hover {
        cursor: pointer;
        background-color: rgba(66, 66, 66, 0.87);
      }
      .profile-picture img {
        border-radius: 100px;
        border: 3px solid #202124;
      }
      .profile-picture img:hover {
        //#202124
        cursor: pointer;
        border: 3px solid rgba(66, 66, 66, 0.87);
      }
    }
  }
}
