@use "../../../common-styles/var";

.app {
  width: 96px;
  height: 96px;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  .app-name {
    align-self: start;
  }
  .app-icon {
    align-self: end;
    img {
      border-radius: 20px;
    }
  }
}
.app:hover {
  @include var.app_hover;
  cursor: pointer;
}
